{% comment %}
  This section is used in the article template to render the article page, which
  displays the full content of the blog post and can optionally include a
  comments section for customers (not shown in this example).

  https://shopify.dev/docs/storefronts/themes/architecture/templates/article
{% endcomment %}

<!-- Blog Details Hero Begin -->

{% assign blog_title = article.title %}
{% assign blog_author = article.author %}
{% assign blog_published_date = article.published_at | date: '%d %B %Y' %}
{% assign blog_comments_count = article.comments_count %}
<section class="blog-hero spad">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9 text-center">
        <div class="blog__hero__text">
          <h1>{{ blog_title }}</h1>
          <ul>
            <li>By {{ blog_author }}</li>
            <li>{{ blog_published_date }}</li>
            <li>{{ blog_comments_count }} Comments</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
{% assign blog_thumbnail = article.image | image_url %}
{% assign blog_content = article.content %}

{% assign quote_text = article.metafields.custom.quote_text %}
{% assign quote_author = article.metafields.custom.quote_author %}
{% assign share_url = canonical_url %}
{% assign share_title = page_title | url_encode %}
{% assign bottom_description = article.metafields.custom.bottom_description %}
{% assign author_img = article.user.image | image_url %}

<section class="blog-details spad">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="blog__details__pic">
          <img src="{{ blog_thumbnail }}" alt="{{ blog_title }}" height="100%" width="100%">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="blog__details__content">
          <div class="blog__details__share">
            <span>share</span>
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="Share on Facebook"
                >
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li>
                <a
                  href="https://twitter.com/intent/tweet?url={{ share_url }}&text={{ share_title }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="Share on Twitter"
                  class="twitter"
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </li>

              <li>
                <a
                  href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="Share on LinkedIn"
                  class="linkedin"
                >
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>

              <li>
                <a
                  href="https://wa.me/?text={{ article.title | url_encode }}%20{{ shop.url }}{{ article.url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="Share on WhatsApp"
                  class="youtube"
                >
                  <i class="fa fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          </div>
          {% if blog_content != blank %}
            <div class="blog__details__text">
              {{ blog_content }}
            </div>
          {% endif %}
          {% if quote_text != blank %}
            <div class="blog__details__quote">
              <i class="fa fa-quote-left"></i>

              {{ quote_text | metafield_tag }}

              {% if quote_author != blank %}
                <h6>_ {{ quote_author }} _</h6>
              {% endif %}
            </div>
          {% endif %}
          {% if bottom_description != blank %}
            <div class="blog__details__text">
              {{ bottom_description | metafield_tag }}
            </div>
          {% endif %}
          <div class="blog__details__option">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="blog__details__author">
                  <div class="blog__details__author__pic">
                    <img src="{{ author_img }}" alt="{{ blog_author }}">
                  </div>
                  <div class="blog__details__author__text">
                    <h5>{{ blog_author }}</h5>
                  </div>
                </div>
              </div>
              {% if article.tags.size > 0 %}
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="blog__details__tags">
                    {% for tag in article.tags %}
                      <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          {% if blog.previous_article or blog.next_article %}
            <div class="blog__details__btns">
              <div class="row">
                {% if blog.previous_article %}
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a href="{{ blog.previous_article.url }}" class="blog__details__btns__item">
                      <p><span class="arrow_left"></span> Previous Pod</p>
                      <h5>{{ blog.previous_article.title }}</h5>
                    </a>
                  </div>
                {% endif %}
                {% if blog.next_article %}
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a
                      href="{{ blog.next_article.url }}"
                      class="blog__details__btns__item blog__details__btns__item--next"
                    >
                      <p>Next Pod <span class="arrow_right"></span></p>
                      <h5>{{ blog.next_article.title }}</h5>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if article.comments_enabled? %}
            <div class="blog__details__comment">
              <h4>Leave A Comment</h4>

              {% form 'new_comment', article %}
                {% if form.posted_successfully? %}
                  <p class="form-success">Your comment has been submitted successfully.</p>
                {% endif %}

                {% if form.errors %}
                  <div class="comment-error">
                    {{ form.errors | default_errors }}
                  </div>
                {% endif %}

                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <input
                      type="text"
                      name="comment[author]"
                      placeholder="Name"
                      required
                    >
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <input
                      type="email"
                      name="comment[email]"
                      placeholder="Email"
                      required
                    >
                  </div>

                  <div class="col-lg-4 col-md-4">
                    <input
                      type="text"
                      id="comment-phone"
                      placeholder="Phone"
                    >
                  </div>

                  <div class="col-lg-12 text-center">
                    <!-- Visible textarea (NO name) -->
                    <textarea
                      id="comment-visible"
                      placeholder="Comment"
                      required
                    ></textarea>

                    <!-- Hidden textarea (submitted to Shopify) -->
                    <textarea
                      name="comment[body]"
                      id="comment-body"
                      hidden
                    ></textarea>

                    <button type="submit" class="site-btn">Post Comment</button>
                  </div>
                </div>
              {% endform %}
            </div>

            <script>
              document.addEventListener('submit', function (e) {
                const phone = document.getElementById('comment-phone');
                const visible = document.getElementById('comment-visible');
                const hidden = document.getElementById('comment-body');

                if (hidden && visible) {
                  hidden.value = (phone && phone.value ? 'Phone: ' + phone.value + '\n\n' : '') + visible.value;
                }
              });
            </script>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Details Section End -->

{% schema %}
{
  "name": "Blog Details Section",
  "settings": []
}
{% endschema %}
