<!-- Contact Section Begin -->
{% if section.blocks.size > 0 %}
  <section class="contact spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="contact__text">
            {% if section.settings.sub_title != blank
              or section.settings.main_title != blank
              or section.settings.short_description != blank
            %}
              <div class="section-title">
                {% if section.settings.sub_title %}
                  <span>{{ section.settings.sub_title }}</span>
                {% endif %}
                {% if section.settings.main_title %}
                  <h2>{{ section.settings.main_title }}</h2>
                {% endif %}
                {% if section.settings.short_description %}
                  <p>
                    {{ section.settings.short_description }}
                  </p>
                {% endif %}
              </div>
            {% endif %}

            <ul>
              {% for block in section.blocks %}
                {% if block.type == 'contact_details' %}
                  {% assign location_title = block.settings.location_title %}
                  {% assign address = block.settings.address %}
                  {% if location_title != blank or address != blank %}
                    <li>
                      {% if location_title != blank %}
                        <h4>{{ location_title }}</h4>
                      {% endif %}
                      {% if address != blank %}
                        {{ address }}
                      {% endif %}
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="contact__form">
            <form action="#">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" placeholder="Name">
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Email">
                </div>
                <div class="col-lg-12">
                  <textarea placeholder="Message"></textarea>
                  <button type="submit" class="site-btn">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
<!-- Contact Section End -->

{% schema %}
{
  "name": "Contact Section",
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    },
    {
      "type": "textarea",
      "id": "short_description",
      "label": "Short Description"
    }
  ],
  "blocks": [
    {
      "type": "contact_details",
      "name": "Contact Details",
      "settings": [
        {
          "type": "text",
          "id": "location_title",
          "label": "Location Title"
        },
        {
          "type": "richtext",
          "id": "address",
          "label": "Address"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Section"
    }
  ]
}
{% endschema %}
