<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          {% if section.settings.footer_logo %}
            <div class="footer__logo">
              <a href="{{ routes.root_url }}">
                <img src="{{ section.settings.footer_logo | img_url: 'original' }}" alt="{{ shop.name }}">
              </a>
            </div>
          {% endif %}
          {% if section.settings.footer_text %}
            <p>{{ section.settings.footer_text }}</p>
          {% endif %}
          {% if section.settings.payment_image %}
            <a href="javascript:void(0);">
              <img src="{{ section.settings.payment_image | img_url: 'original' }}" alt="payment methods">
            </a>
          {% endif %}
        </div>
      </div>
      {% if section.settings.Menu_1 %}
        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>{{ section.settings.Menu_1_Title }}</h6>
            <ul>
              {% for link in section.settings.Menu_1.links %}
                <li class="{% if link.current %}active{% endif %}">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
      {% if section.settings.Menu_2 %}
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>{{ section.settings.Menu_2_Title }}</h6>
            <ul>
              {% for link in section.settings.Menu_2.links %}
                <li class="{% if link.current %}active{% endif %}">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
      <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
        <div class="footer__widget">
          {% if section.settings.newsletter_title %}
            <h6>{{ section.settings.newsletter_title }}</h6>
          {% endif %}
          <div class="footer__newslatter">
            {% if section.settings.newsletter_text %}
              <p>{{ section.settings.newsletter_text }}</p>
            {% endif %}
            {% form 'customer', class: 'newsletter-form' %}
              <input
                type="email"
                name="contact[email]"
                placeholder="Your email"
                required
              >

              <input type="hidden" name="contact[tags]" value="newsletter">

              <button type="submit">
                <span class="icon_mail_alt"></span>
              </button>

              {% if form.posted_successfully? %}
                <p class="newsletter-success mt-2">Thanks for subscribing!</p>
              {% elsif form.errors %}
                <p class="newsletter-error mt-2">
                  {{ form.errors | default_errors }}
                </p>
              {% endif %}
            {% endform %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer__copyright__text">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p>
            Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
          </p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

{% schema %}
{
  "name": "footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text"
    },
    {
      "type": "image_picker",
      "id": "payment_image",
      "label": "Payment Image"
    },
    {
      "type": "text",
      "id": "Menu_1_Title",
      "label": "Menu 1 Title"
    },
    {
      "type": "link_list",
      "id": "Menu_1",
      "label": "Menu 1 Links"
    },
    {
      "type": "text",
      "id": "Menu_2_Title",
      "label": "Menu 2 Title"
    },
    {
      "type": "link_list",
      "id": "Menu_2",
      "label": "Menu 2 Links"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title"
    },
    {
      "type": "text",
      "id": "newsletter_text",
      "label": "Newsletter Text"
    }
  ]
}
{% endschema %}
