<!-- Team Section Begin -->
{% if section.blocks.size > 0 %}
  <section class="team spad">
    <div class="container">
      {% if section.settings.sub_title or section.settings.main_title %}
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              {% if section.settings.sub_title %}
                <span>{{ section.settings.sub_title }}</span>
              {% endif %}
              {% if section.settings.main_title %}
                <h2>{{ section.settings.main_title }}</h2>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        {% for block in section.blocks %}
          {% if block.type == 'team_members' %}
            {% assign member_image = block.settings.member_image %}
            {% assign member_name = block.settings.member_name %}
            {% assign member_role = block.settings.member_role %}
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="team__item">
                {% if member_image != blank %}
                  <img src="{{ member_image | image_url }}" alt="">
                {% endif %}
                {% if member_name != blank %}
                  <h4>{{ member_name }}</h4>
                {% endif %}
                {% if member_role != blank -%}
                  <span>{{ member_role }}</span>
                {%- endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
<!-- Team Section End -->

{% schema %}
{
  "name": "Team Section",
  "tag": "section",
  "class": "team-section",
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    }
  ],
  "blocks": [
    {
      "type": "team_members",
      "name": "Team Members",
      "settings": [
        {
          "type": "image_picker",
          "id": "member_image",
          "label": "Member Image"
        },
        {
          "type": "text",
          "id": "member_name",
          "label": "Member Name"
        },
        {
          "type": "textarea",
          "id": "member_role",
          "label": "Member Role / Designation"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Team Section"
    }
  ]
}
{% endschema %}
