<!-- Testimonial Section Begin -->
{% if section.settings.review != blank %}
  <section class="testimonial">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 p-0">
          <div class="testimonial__text">
            <span class="icon_quotations"></span>
            {{ section.settings.review }}

            {% if section.settings.author_image != blank
              or section.settings.reviewer_name != blank
              or section.settings.reviewer_designation != blank
            %}
              <div class="testimonial__author">
                {% if section.settings.author_image != blank %}
                  <div class="testimonial__author__pic">
                    <img src="{{ section.settings.author_image | image_url }}" alt="">
                  </div>
                {% endif %}
                {% if section.settings.reviewer_name != blank or section.settings.reviewer_designation != blank %}
                  <div class="testimonial__author__text">
                    {% if section.settings.reviewer_name != blank %}
                      <h5>{{ section.settings.reviewer_name }}</h5>
                    {% endif %}
                    {% if section.settings.reviewer_designation != blank %}
                      <p>{{ section.settings.reviewer_designation }}</p>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
        {% if section.settings.testimonial_image %}
          <div class="col-lg-6 p-0">
            <div class="testimonial__pic set-bg" data-setbg="{{ section.settings.testimonial_image | image_url }}"></div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
<!-- Testimonial Section End -->

{% schema %}
{
  "name": "Testimonial Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "testimonial_image",
      "label": "Testimonial Image"
    },
    {
      "type": "richtext",
      "id": "review",
      "label": "Review"
    },
    {
      "type": "image_picker",
      "id": "author_image",
      "label": "Author Image"
    },
    {
      "type": "text",
      "id": "reviewer_name",
      "label": "Reviewer Name"
    },
    {
      "type": "text",
      "id": "reviewer_designation",
      "label": "Reviewer Designation"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Testimonial Section"
    }
  ]
}
{% endschema %}
